@media screen and (max-width: 2560px) {

    /* MILEAGE PLUS PAGE START */
    .milePlusMain {
        width: 2000px;
    }

    .steps {
        width: 1000px;
    }

    .milePlusHeadText p {
        font-size: 20px;
        margin: 0 0 30px 0;
    }

    .memberDiv {
        width: 2000px;
    }

    .aboutYourselfDiv {
        width: 2000px;
    }

    .aboutYourselfDiv h3 {
        width: 2000px;
    }

    .aboutYourselfPara p {
        font-size: 18px;
    }

    .aboutYourselfDiv hr {
        width: 1800px;
    }

    .contactDiv {
        padding: 20px 0 0 200px;
    }

    .contactInputDiv {
        gap: 20px;
    }

    .personalInfoDiv {
        padding: 20px 0 0 200px;
    }

    .personalInfoBtns {
        margin: 50px 0 50px 0;
        padding-left: 200px;
    }
    /* MILEAGE PLUS PAGE END */


    /* DEALS PAGE START */
    .dealsHeadingDiv p {
        font-size: 20px;
    }
    .dealsOfferLinks {
        justify-content: center;
        gap: 200px;
    }
    .dealsOfferLinksDiv h3 {
        font-size: 28px;
        font-weight: bold;
    }
    .specialOffers {
        width: 1100px;
        height: 80px;
    }
    .otherOffers {
        width: 1100px;
        height: 80px;
    }
    .dealsOfferLinksDiv p {
        font-size: 20px;
        font-weight: 500;
    }
        
    .ongoingDealsDiv h5 {
        font-size: 24px;
        font-weight: 600;
        margin: 50px 0 10px 0;
    }
    .ongoingDealsImages a {
        font-size: 20px;
    }
    .offersPara {
        font-size: 20px;
    }
    /* DEALS PAGE END */


    /* HELP PAGE START */
    .helpCenterDiv1 {
        width: 1800px;
    }
    .mileagePlusMainDiv {
        width: 1800px;
    }
    .helpCenterDiv2 h3 {
        width: 1800px;
    }
    .helpCenterDiv3 {
        width: 1800px;
    }
    button.findTripBtn {
        font-size: 20px;
    }

    .helpMainCont h1 {
        width: 1800px;
    }
    .topicBtnDiv {
        font-size: 18px;
    }
    .divMain li {
        font-size: 20px;
    }
    p {
        font-size: 20px;
    }
    /* HELP PAGE END */
    

}