@media screen and (min-width: 1024px) {
    /* NAVBAR START */
    .hamburger {
            display: none !important;
        }
    
    .mobileMenu {
        display: none !important;
    }

    .navLinks1,
    .navLinks2 {
        display: flex !important;
        align-items: center;
        /* gap: 1.5rem; */
    }

    .navLinks1 {
        justify-content: center;
        flex-grow: 1;
    }

    .navLinks2 {
        justify-content: flex-end;
    }

    .navLink1,
    .navLink2 {
        color: white;
        text-decoration: none;
    }
    
    /* NAVBAR END */

    /* MILEAGE PAGE START */
    div.milePlusMain {
        min-width: 1024px;
    }
    div.steps {
        min-width: 800px;
        /* margin-left: 250px !important; */
    }
    div.milePlusHeadText {
        min-width: 800px;
        margin-left: 30px;
    }
    div.memberDiv {
        min-width: 800px;
        /* margin-left: 250px; */
    }
    div.memberImagesDiv {
        min-width: 800px;
        /* margin-left: 80px; */
    }
    div.aboutYourselfDiv {
        min-width: 800px;
        /* margin-left: 250px; */
    }
    div.personalInfoBtns {
        min-width: 800px;
        /* padding-left: 200px; */
    }
    div.aboutYourselfDiv hr {
        min-width: 700px;
    }
    /* MILEAGE PAGE END */

    /* HELP PAGE START */
    div.helpCenterDiv1 {
        width: 920px !important;
    }
    div.helpMainCont h1 {
        width: 700px;
    }
    div.helpCenterDiv2 h3 {
        width: 920px !important;
    }
    div.mileagePlusMainDiv {
        width: 900px !important;
    }
    div.helpCenterDiv3 {
        width: 900px !important;
    }
    div.helpMainCont {
        width: 1024px;
    }
    div.helpMainCont h1 {
        width: 810px;
        justify-content: center;
    }

    div.helpCenterDiv2 h3 {
        font-size: 24px !important;
    }
    div.mileagePlusMainDiv {
        display: flex;
        flex-direction: row !important;
        height: 120px !important;
    }
    div.mileagePlusBtns {
        display: flex;
        flex-direction: row;
    }

    div.helpCenterDiv3 {
        height: 300px !important;
        margin-top: 30px;
    }
    div.findTripInputsAndBtn {
        display: flex;
        flex-direction: row !important;
        width: 800px !important;
    }
    div.findTripInputs {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    div.topicBtnDiv {
        width: 400px;
    }
    button.topicBtn {
        width: 330px;
    }
    div.mainRightDiv {
        padding-left: 380px;
    }
    div.contentDiv {
        width:1020px;
    }
    div.headingDiv {
        width: 600px;
        padding-right: 100px; 
    }
    .btmSearchBarInputDiv {
        margin-top: 50px;
    }
    div.btmSearchBar {
        min-width: 1024px;
        min-height: 250px;
    }
    .contactUsMainDiv {
        width: 512px;
    }
    div.searchTopicsLinksDiv div {
        min-width: 1024px;   
        display: flex;
    }
    div ul.searchlinksFooter {
        min-width: 1024px;
        display: flex;
        flex-direction: row;
    }
    div.homeFooterMain {
        width: 1024px;
    }
    div.homeFooterDivs {
        display: flex;
        flex-direction: row;
    }
    div.mainFooterLinks {
        display: flex;
        flex-direction: row !important;
        flex-wrap: wrap;
    }
    /* HELP PAGE END */
}