.searchTopicsLinksMainFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ebebe9;
    color: #1414d2;
    font-weight: 600;
}

.searchlinksFooter {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 20px 0 20px 0;
}

.impNoticeDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0 20px 0;
    padding-right: 140px;
}

.faCircleInfo {
    padding-right: 5px;
}