.faqComponentMain {
    display: flex;
    flex-direction: column;
}
.faqComponent {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 1135px;
}

.faqDiv {
    /* background-color: blue; */
}
.faqBtn {
    display: flex;
    border: none;
    width: 1135px;
}