.helpMainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainDiv {
    /* width: 1135px; */
}

.headingDiv {
    padding-left: 30px;
}

h3 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: .5px;
}

li {
    color: #0000ff;
    text-decoration: underline;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: .3px;
}


.topicBtnDiv {
    /* display: flex;
    flex-direction: column; */
}
.topicBtn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 8px;
    border: none;
    
}
.topicBtn:hover {
    border: solid 1px #1414d2;
}
.faChevronRight {
    align-self: center;
}

.contentDiv {
    flex: 1;
    padding: 40px;
}
