
.findFlightsContent {

}
.findFlights {
    width: 568px;  
    height: auto; 
}  


.findFlightsForm {

}



/* LINKS 1 */
.links1.books {
    
}
ul.links1Ul {
    display: flex;
    gap: 1rem;
    justify-content: center;
    background-color: #002244;
    border-radius: 10px 10px 0 0;

}
li.links1 {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 16px;
    color: white;
    width: 142px;
    height: 48px;  
    border-right: solid 1px #fff;
}
li.links1.myTrips {
    border-top-right-radius: 10px;
}


/* LINKS 2 */
ul.links2 {
    display: flex;
    gap: 1rem;
    justify-content: center;
    
      
}

li.links2 {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    width: 100px;
    color: #666666;
}
li.link2:hover {
    color:#002244;
}
.cruise {
    color:#1414d2;
}

hr {
    width: 390px;
    margin-left: 20px;
}


/* RADIO LINKS */
.radioLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 14px;
}

.circleRadio {
    margin-right: 5px;
}
.customSquareRadio input[type='radio'] {
    display: none;
}
.squareRadio {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: solid 1px #000;
    margin-right: 8px;
    vertical-align: middle;
}




/* INPUTS */



/* GRID LAYOUT */
.inputCont{
    display: grid;
    grid-template-columns: 1fr 0.5fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
.fromAndTo {
    grid-area: 1 / 1 / 2 / 4; 
    display: flex;
    justify-content: space-evenly;
}
.datesAndTrav {
    grid-area: 2 / 1 / 3 / 4;
    display: flex;
    justify-content: space-around;
}

.chooseClassDiv {
    display: flex;
}
.fromDiv {
    display: flex;
    flex-direction: column;
}
.faArrowRightArrowLeftDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}
.toDiv {
    display: flex;
    flex-direction: column;
}




#to {
    width: 230px;
    height: 46px;
} 
#from {
    width: 230px;
    height: 46px;
}



.fromHeading {
    margin: 10px 0 5px 0;
}
.from {
    /* width: 232px; */
    border: solid 1px #555;
    border-radius: 10px;
    /* padding: 22px 14px 22px 22px; */
}

.faArrowRightArrowLeft {
    width: 24px;
    height: 24px;
    color: #1414d2;
}

.toHeading {
    margin: 10px 0 5px 0;
}
.to {
    border: solid 1px #555;
    border-radius: 10px;
    /* padding: .5rem 14px .5rem .5rem; */
    align-items: center;
}
.faArrowRightArrowLeft {
    display: flex;
}




/* DATES AND TRAV SYTLES */


/*  DATE CALENDAR COMP FOR FINDFLIGHTS */

.datesHeading {
    margin: 10px 0 5px 0;
}
.dateCalComp {
    display: flex;
    flex-direction: column;
    
}
#dateInput {
    width: 230px;
    height: 46px;
    border: solid 1px #555;
    border-radius: 10px;
}
.datePlaceholder {
    display: flex;
    align-items: center;
    justify-content: center;   
}

.calendarIcon {
    padding-left: 6px;
    color: #1414d2;
}

/* TRAVELERS COMP FOR FINDFLIGHTS */
.travComp {
    display: flex;
    flex-direction: column;
}
.travsHeading {
    margin: 10px 0px 5px 0;
}
#travDiv {
    display: flex;
    flex-direction: column;
}
.travInput {
    width: 230px;
    height: 46px;
    border: solid 1px #555;
    border-radius: 10px;
    align-items: center;

    

}
.add {
    padding: 8px 8px 8px 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: solid 1px #555;
}
.subtract {
    padding: 8px 8px 8px 8px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: solid 1px #555;
}



/* CHOOSE FLITGHT CLASS STYLES */


.chooseClass {
    width: 230px;
    height: 46px;
    padding-left: 8px;
    border-radius: 10px;
    margin: 20px 0 0 25px;
    
}
.chooseClass:hover {
}



/* ADVANCED SEARCH STYLES */
.advSearchDiv {
    width: 568px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0 0 30px;
}
.advSearchText {
}
.advSearchHeading {
    font-size: 16px;
    color: #1414d2;
    font-weight: 400;
    margin-top: 5px;
}
.para1, .para2 {
    font-size: 14px;
}
.advSearchButtons {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: .75rem 2.5rem .75rem 2.5rem;
}
.findFlightsBtn {
    width: 240px;
    height: 50px;
    color: #fff;
    background-color: #1414d2;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
}
.creditsBtn {
    width: 240px;
    height: 50px;
    color: #1414d2;
    background-color: #fff;
    border: solid 2px #1414d2;
    border-radius: 50px;
}





/* CARD BONUS STYLES */
.cardAndBonus {
    display: flex;
    flex-direction: column;
    margin-right: 150px;
}
.card {
    background-color: rgba(0, 0, 0, 0.5);
    border: solid 1px #000;
    width: 284px;
    height: 229px;
    margin-bottom: 50px;
    /* margin-right: 450px; */
}
.cardSubtitle {
    font-family: "NeuePlakTextforUnited-SmBd", "Noto Sans", "Arial", sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    margin: 20px 0 0 10px;
}
.cardTitle {
    font-family: "NeuePlakTextforUnited-SmBd", "Noto Sans", "Arial", sans-serif;
    font-size: 28px;
    color: #fff;
    margin: 0 10px 10px 10px;
}
.cardLink {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}


/* BONUS DIV STYLES */
.bonusAndAnnFee {
    display: flex;
    flex-direction: column;
    border-radius: 2px;
}
.newCardBenefitsDiv {
    background-color: #1414d2;
    color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding-left: 20px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    height: 30px;
    display: flex;
    align-items: center;
}
.bonus {
    background-color: #fff;
    width: 530px;
    height: 112px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5px;
}
.bonusH4 {
    font-family: "NeuePlakTextforUnited-SmBd", "Noto Sans", "Arial", sans-serif;
    font-size: 70px;
    margin-left: 20px;
    letter-spacing: -3px;
    font-weight: 800;
    padding-right: 10px;
}
.bonusSpan {
    display: flex;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    padding-right: 15px;
}
.annFee {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #1414d2;
    color: #fff;
    height: 30px;;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.annFeePara {
    padding-left: 20px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;

}
.annFeeBtn {
    background-color: #fff;
    color: #1414d2;
    width: 100px;
    border-radius: 50px;
    margin-right: 10px;
}
.memberCard {
    width: 150px;
}