.homeFooterMain {
    background-color: #000;
}
.homeFooterDivs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
}
.homeFooterDivs button {
    width: 170px;
    height: 55px;
    background-color: #fff;
    border: solid 2px #1414d2;
    border-radius: 50px;
}
.homeFooterDivs h6 {
    font-size: 12px;
    display: flex;
    align-items: center;
    color: #fff;
}
.faGlobe {
    padding-right: 10px;
}
.socialIcons {
    display: flex;
    justify-content: space-evenly;
    width: 200px; 
    color: #fff;
}

.mainFooterLinks {
   padding: 30px 0 30px 0px; 
   row-gap: 10px;
}

.footerLinks1 {
    display: flex;
    justify-content:space-around;
    color: #7baefb;
}
.footerLinks2 {
    display: flex;
    justify-content: space-around;
    color: #7baefb;
}


.homeFooterMain p {
    color: #fff;
}

