.searchTopicsWrapper {
    display: flex;
    justify-content: space-around;
}
.searchTopicsInputDiv {
    border: solid 1px #000;
}
.searchTopicsInputDiv input {
    border: none;
    width: 574px;
    height: 62px;
}
.searchTopics {
    font-weight: bold;
    font-size: 18px;
    padding-left: 10px;
}
.searchIcon {
    padding-right: 20px;
    color: #1414d2;
}