.usefulLinksDiv {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
.usefulLinkHeading {
    display: flex;
    font-weight: 500;
    letter-spacing: .25px;
    font-family: "NeuePlakforUnited-SmBd", "Noto Sans", "Arial", sans-serif;
    margin: 10px 0 15px 5px;
    padding-left: 100px;
}

.usefulLinkDiv {
    display: flex;
    width: 600px;
    border: solid 1px #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
}
.usefulLinkDiv h2 {
    letter-spacing: .5px;
    font-size: 30px;
    width: 400px;
    margin-top: 15px;
}
p {
    font-size: 16px;
}
.row1 {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.row2 {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.row3 {
    display: flex;
    gap: 20px;
    justify-content: center;
}
.usefulLinkText {
    margin-right: 150px;
    padding-left: 15px;
    width: 380px;
}
.usefulLinkText p {
    /* width: 400px; */
}
.faArrowRightDiv {
    display: flex;
    align-items: center;
    color: #1414d2;
    /* font-weight: 400; */
}
