.dealsMain {
    padding: 30px 100px 50px 100px;
}

.dealsHeadingDiv {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.dealsHeadingDiv h1 {
    font-weight: 600;
}
.dealsHeadingDiv p {
    font-weight: 500;
}

.dealsOfferLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0 30px 0 ;
}
.specialOffers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: solid 1px #ccc;
    width: 555px;
    height: 58px;
    padding: 0 20px 0 20px;
}
.otherOffers {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: solid 1px #ccc;
    width: 555px;
    height: 58px;
    padding: 0 20px 0 20px;
}
.specDiv {
    display: flex;
    gap: 10px;
}
.otherDiv {
    display: flex;
    gap: 10px;
}

.ongoingDealsImages {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}
.dealsImgDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dealsImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}
.chicago { grid-area: 1/1/2/2;}
.houston {grid-area: 1/2/2/3;}
.newyork {grid-area: 1/3/2/4;}
.sanfran {grid-area: 2/1/3/2;}
.la {grid-area: 2/2/3/3;}
.denver {grid-area: 2/3/3/4;}

.dealsImgDiv a {
    display: block;
    text-align: center;
    margin-top: 0.5rem;
    font-size: 0.95rem;
    line-height: 1.2;
    text-decoration: none;
}

.offersPara {
    margin: 40px 0 40px 20px;
    width: 850px;
}