.milePlusMain {
    display: flex;
    flex-direction: column;
    width: 815px;
}
.milePlusHeadText {
    display: flex;
    flex-direction: column;
}
.memberDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 815px;
    height: 102px;
    border: solid 2px #ccc;
    border-radius: 10px;
}
.memberTextAndIcon {
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 20px;
    font-size: 24px;
    margin-left: 30px;
}
.memberBtn {
    width: 134px;
    height: 52px;
    border-radius: 50px;
    align-self: center;
    margin-right: 30px;
}



/* MEMBER IMAGES */
.memberImagesDiv {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.memberImgDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.memberImgDiv h6 {
    font-weight: bold;
    width: 125px;
    height: 54px;
    display: flex;
    align-items: center;
    text-align: center;
}
.memberImg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}