.myTripsPage {
    display: flex;
    flex-direction: column;
        font-family: "NeuePlakforUnited-SmBd", "Noto Sans", "Arial", sans-serif;
}
.myTripsPageMainDiv {
    display: flex;
    flex-direction: column;
}
.myTripsDiv1 {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 1135px;
    /* justify-content: center; */
}
.myTripsDiv1Text {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 20px 20px;
}


/* MY TRIPS DIV 3 */
.myTripsDiv2 {
    display: flex;
    flex-direction: row;
    align-self: center;
}


.nextBtn {
    background-color: #1414d2;
    color: #fff;
    font-weight: 600;
    width: 132px;
    height: 50px;
    border-radius: 50px;
    border: none;
}


/* MY TRIPS DIV 3 */
.myTripsDiv3 {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 1135px;
    height: 463px;
    border: solid 1px #000;
}
.myTripsDiv3Heading {
    height: 48px;
    background-color: #ebebe9;
    display: flex;
    align-items: center;
}