.myTripsPage {
    display: flex;
    flex-direction: column;
    font-family: "NeuePlakforUnited-SmBd", "Noto Sans", "Arial", sans-serif;
}
.myTripsPageMainDiv {
    display: flex;
    flex-direction: column;
}
.myTripsDiv1 {
    display: flex;
    flex-direction: row;
    align-self: center;
    width: 1135px;
    /* justify-content: center; */
}
.myTripsDiv1Text {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 20px 20px;
    font-size: 14px;
}
.myTripsDiv1Text a {
    color: #1414d2;
    font-size: 12px;
}

/* MY TRIPS DIV 3 */
.myTripsDiv2 {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-bottom: 30px;
}


.nextBtn {
    background-color: #1414d2;
    color: #fff;
    font-weight: 600;
    width: 132px;
    height: 50px;
    border-radius: 50px;
    border: none;
    margin-top: 30px;
}

.signIn {
    text-decoration: underline;
    color: #1414d2;
}


/* MY TRIPS DIV 3 */
.myTripsDiv3 {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 1135px;
    height: 430px;
    box-shadow: 2px 2px 6px 3px rgba(202, 202, 202, 0.4);
    margin-bottom: 40px;
}
.myTripsDiv3Heading {
    height: 48px;
    background-color: #ebebe9;
    display: flex;
    align-items: center;
}
.myTripsDiv3Heading h2 {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .4px;
    padding-left: 20px;
}
.myTripsDiv3InputDiv {
    display: flex;
    flex-direction: column;
    margin: 30px;
    width: 435px;
}
.myTripsInput1,
.myTripsInput2 {
    display: flex;
    flex-direction: column;
}
.myTripsInput1 label,
.myTripsInput2 label {
    font-weight: 600;
    font-size: 13px;
    letter-spacing: .3px;
}
.myTripsInput1 input,
.myTripsInput2 input {
    width: 430px;
    height: 40px;
    border-radius: 8px;
}

.myTripsInput1 {
    margin-bottom: 40px;
}

.myTripsInput2 {
    margin-bottom: 30px;
}


/* MY TRIPS DIV 4 */
.myTripsDiv4 {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 1135px;
}
.travelCreditDiv span {
    text-decoration: underline;
    color: #1414d2;
}



.travelBtnDiv .travelBtn:hover {
    color: #fff;
    background-color: #1414d2;
}