.navbar {
    background-color: #002244;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    height: 90px;
}
.logo {
    width: 90px;
    height: 70px;
}
li {
    list-style-type: none;
}

.navLinks1 {
    display: flex;
    align-items: center;
    gap: 20px;
}
.navLink1 {
    font-family: "NeuePlakTextforUnited-SmBd", "Noto Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}
.navLink1:hover {
    color: #a8d0f7;
}

.navLinks2 {
    display: flex;
    align-items: center;
    gap: 5px;
}
.navLink2 {
    font-family: "NeuePlakTextforUnited-SmBd", "Noto Sans", "Arial", sans-serif;
    font-size: 14px;
    font-weight: 500;
}
.navLink2:hover {
    color: #000;
    background-color: #a8d0f7;
}

.globe:hover {
    padding: 5px;
    border-radius: 50px;
}
.link2Icon {
    padding: 10px;
    border-radius: 50%;
}