/* Color Palette */
/* 
#4995fd
#a0d0ec
#6ec0e9
#2f90d4
#003a65
*/

.findFlights {
    width: 568px;
    height: 530px;
    /* padding: 14px 24px 24px 24px; */
}

/* LINKS 1 */
ul.links1 {
    display: flex;
    gap: 1rem;
    justify-content: center;
    background-color: #002244;
}
li.links1 {
    display: flex;
    align-items: center;
    list-style-type: none;
    font-size: 16px;
    color: white;
    width: 142px;
    height: 48px;  
}

/* LINKS 2 */
