.travelInfoImageDiv {

}
.travelInfoImage {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
}

.planATripMain {
    display: flex;
    flex-direction: column;
}
.planATripCont {
    display: flex;
    flex-direction: row;
}
.planATripIcon {

}