.travelInfoImageDiv {

}
.travelInfoImage {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
}

.planATripMain {
    display: flex;
    flex-direction: column;
}
.planATripCont {
    display: flex;
    flex-direction: row;
    height: 60px;
    box-shadow: inset 0 0 0 1px #d7d7d4;
}
.planATripIconDiv   {
    display: flex;
    align-items: center;
}