.travelInfoImageDiv {

}
.travelInfoImage {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
}

.planATripMain {
    display: flex;
    flex-direction: column;
}
.planATripCont {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    height: 90px;
    box-shadow: inset 0 0 0 1px #d7d7d4;
    padding: 16px;
}
.planATripIconDiv   {
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px;
}
.planATripText {
    width: 700px;
}
.planATripArrowDiv {
    display: flex;
    align-items: center;
}
